<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Microsoft SQL Server Compact Data Provider"
           invariant="System.Data.SqlServerCe.3.5"
           description=".NET Framework Data Provider for Microsoft SQL Server Compact"
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />

      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
                 
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql" />

    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="SqlServerCe.Connection"
         connectionString="Data Source=TestMicrOrm.sdf;Persist Security Info=false;"
         providerName="System.Data.SqlServerCe.3.5" />

    <add name="System.Data.SQLite.Connection"
         connectionString="Data Source=TestMicrOrm.db3;Version=3;Pooling=false;"
         providerName="Devart.Data.SQLite" />
         
    <add name="Npgsql.Connection"
         connectionString="Host=localhost;Port=5432;Database=test_microrm;User Id=postgres;Password=postgres;Pooling=False;"
         providerName="Npgsql" />

  </connectionStrings>

</configuration>