<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Microsoft SQL Server Compact Data Provider"
           invariant="System.Data.SqlServerCe.3.5"
           description=".NET Framework Data Provider for Microsoft SQL Server Compact"
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />

      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

      <add name="dotConnect for SQLite"
           invariant="Devart.Data.SQLite"
           description="Devart dotConnect for SQLite"
           type="Devart.Data.SQLite.SQLiteProviderFactory, Devart.Data.SQLite, Version=3.30.185.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />

      <add name="dotConnect for PostgreSQL"
           invariant="Devart.Data.PostgreSql"
           description="Devart dotConnect for PostgreSQL"
           type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=5.30.185.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="SqlServerCe.Connection"
         connectionString="Data Source=TestMicrOrm.sdf;Persist Security Info=false;"
         providerName="System.Data.SqlServerCe.3.5" />

    <add name="System.Data.SQLite.Connection"
         connectionString="Data Source=TestMicrOrm.db3;Version=3;Pooling=false;"
         providerName="Devart.Data.SQLite" />

    <add name="Devart.Data.SQLite.Connection"
         connectionString="Data Source=TestMicrOrm.db3;Version=3;Pooling=false;"
         providerName="System.Data.SQLite" />

    <add name="Npgsql.Connection"
         connectionString="Host=localhost;Port=5432;Database=test_microrm;User Id=postgres;Password=postgres;Pooling=False;"
         providerName="Npgsql" />

    <add name="Devart.Data.PostgreSql.Connection"
         connectionString="Host=localhost;Port=5432;Database=test_microrm;User Id=postgres;Password=postgres;Persist Security Info=False;Pooling=False;"
         providerName="Devart.Data.PostgreSQL" />
  </connectionStrings>

</configuration>