<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <clear/>
    <add name="TestConnection"
         connectionString="data source=TestMicrOrm.db3;version=3;pooling=false;"
         providerName="System.Data.SQLite" />
  </connectionStrings>

</configuration>