<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Microsoft SQL Server Compact Data Provider"
           invariant="System.Data.SqlServerCe.3.5"
           description=".NET Framework Data Provider for Microsoft SQL Server Compact"
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <clear/>
    <add name="TestConnection"
         connectionString="data source=TestMicrOrm.sdf;persist security info=false;"
         providerName="System.Data.SqlServerCe.3.5" />
  </connectionStrings>

</configuration>