<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>                 
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <clear/>
    <add name="Test"
         connectionString="host=localhost;port=21000;database=test_microrm;user id=postgres;password=postgres"
         providerName="Npgsql" />
  </connectionStrings>

</configuration>