<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Buddy" version="1.13.1" targetFramework="net45" />
  <package id="Buddy.Database" version="1.4.1" targetFramework="net45" />
  <package id="Buddy.Database.PostgreSql" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.5" targetFramework="net45" />
  <package id="Npgsql" version="3.2.2" targetFramework="net45" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net45" />
</packages>